*.db
*.log
*.pid
*.cache
*.so
*.dll
*.dylib
*.tmp
*.dump
*.vbsp
gameinfo.txt
*.ver
*.inf
*.rad

.vscode/
.gluarc.json

/cache/
/download/
/downloadlists/
/temp/
/settings/
/scenes/
/resource/
/particles/
/maps/
/lua/
/html/
/backgrounds/
/fallbacks/
/bin/
/data/
/gamemodes/base/
cfg/
!cfg/server.cfg

garrysmod_*.vpk
fallbacks_*.vpk

clientside_errors.txt
modelsounds.cache