*.db
*.log
*.pid
*.cache
*.so
*.dll
*.dylib
*.tmp
*.dump
*.vbsp
gameinfo.txt
*.ver
*.inf
*.rad

.vscode/
.gluarc.json

/materials/
/media/
/models/
/save/
/saves/
/screenshots/
/materialsrc/
/dupes/
/demos/
/addons/
/tapkov/
/videos/
GameState.txt
stats.txt
voice_ban.dt
/cache/
/download/
/downloadlists/
/temp/
/settings/
/scenes/
/resource/
/particles/
/maps/
/lua/derma/
/lua/drive/
/lua/entities/
/lua/includes/
/lua/matproxy/
/lua/menu/
/lua/postprocess/
/lua/skins/
/lua/vgui/
/lua/weapons/
/lua/send.txt
/lua/autorun/client/
/lua/autorun/properties/
/lua/autorun/server/
/lua/autorun/base_npcs.lua
/lua/autorun/base_vehicles.lua
/lua/autorun/developer_functions.lua
/lua/autorun/game_hl2.lua
/lua/autorun/menubar.lua
/lua/autorun/properties.lua
/lua/autorun/utilities_menu.lua
/html/
/backgrounds/
/fallbacks/
/bin/
/data/
/gamemodes/base/
/gamemodes/sandbox/
/gamemodes/terrortown/
cfg/
!cfg/server.cfg

garrysmod_*.vpk
fallbacks_*.vpk

clientside_errors.txt
modelsounds.cache